body {
    background-color: #112740;
    font-family: 'Montserrat', sans-serif;
}

.fitness-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3em;
    font-weight: 700;
}

.mission-text {
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5em;
    font-weight: 400;
}

.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 700;
}